:root {
    --sidebar-background-color: #f9fafb;
    --sidebar-element-hover-color: #E0E4E8;
}
/* The whole page layout */
.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Sidebar styling */
.sideBar {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    height: 100vh;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 1.5rem;
}
.sideBar-el {
    margin: 5px 10px;
    border-radius: 5px;
    padding: 2px;
}
.sideBarSvg {
    margin-right: 10px;
}
.sideBar-el:hover {
    cursor: pointer;
    background-color: var(--sidebar-element-hover-color);
}
.sideBar > button:hover {
    cursor: pointer;
}
.sideBarButton {
    margin: 10px;
    background-color: #6092C9;
    color: white;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-size: 1.3rem;
}
.sideBarButton:hover {
    scale: 1.1;
}

/* content styling */
.contentHeader {
    height: 100px;
    width: 100%;
}

.headerDiv {
    color: black;
}

.headerBlock {
    display: flex;
    gap: 20px;
    margin-left: 10%;
}
.contentBody {
    margin: 0px 50px;
}
.toDoElement {
    font-size: 1.4rem;
    margin-top: 10px;
    border-radius: 5px;
    padding: 4px;
    z-index: 2;
    display: flex;
}
/* fixes the problem with not working event for the parent */
.toDoElement > div {
    pointer-events: none;
}
/* Styling to do modal */
.toDoModal {
    border: none;
    border-radius:10px;
    outline: none;
}
.modalDiv {
    height: 300px;
    width: 500px;
    border: none;
    border-radius: 5px;
}
.modalTitle {
    font-size: 2rem;
    margin-bottom: 20px;
    border: none;
    resize: none;
    height: auto;
    width: 100%;
}
.modalDescription {
    font-size: 1.5rem;
    color: gray;
    margin-bottom: 20px;
    border: solid 1px gray;
    border-radius: 10px;
    resize: none;
    height: 25%;
    width: 100%;
}
.toDoElement:hover {
    background-color: #6092C9;
    color: white;
    cursor: pointer;
}
.toDoBottomLayer {
    display: block;
}
.toDoCheckbox {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.modalSaveButton {
    background-color: #6092C9;
    color: white;
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-size: large;
}
.modalSaveButton:hover {
    scale: 1.1;
    cursor: pointer;
}
/* Styling add to do modal */
.modalAddToDo{
    border: none;
    border-radius: 10px;
    outline: none;
    width: 350px;
}
.addToDoWrapper {
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    gap: 10px;
}
.addToDoWrapper > input {
    font-size: 1.5rem;
}
.addToDoWrapper > select {
    font-size: 1.5rem;
}
.addToDoHeader {
    display: flex;
    font-size: 1.4rem;
    font-weight: 900;
    justify-content: space-between;
}
#closeToDoModal {
    background-color: #6092C9;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    border: none;
}
#closeToDoModal:hover {
    cursor: pointer;
    scale: 1.1;
}
#addNewToDoButton {
    background-color: #6092C9;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
}
#addNewToDoButton:hover {
    cursor: pointer;
    scale: 1.05;
}
/* Styling add to do modal */
.modalAddList {
    border: none;
    border-radius: 10px;
    outline: none;
    width: 350px;
}
#listName{
    font-size: 1.5rem;
}
.addListWrapper {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}
.addListHeader {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
}
#closeListModal {
    background-color: #6092C9;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    border: none;
}
#closeListModal:hover {
    cursor: pointer;
    scale: 1.1;
}
#addNewListButton {
    background-color: #6092C9;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px;
    color: white;
    font-size: 1.5rem;
}
#addNewListButton:hover {
    cursor: pointer;
    scale: 1.05;
}